/**
*forms.css
*   specific design for forms
**/

form div.hidden{
    display: none;
}
.outer-modal.hidden{
    display: none;
}
form div.bad-control{
    color: red;
    font-size: .8em;
    letter-spacing: .2em;
}
#contact-form{
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 1em;
  
}